#game{
	border: #b444ff, solid, 2px;
}
body{
	background-color: #1b1b1b;
}

.gameField{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gameWindow{
	align-items: center;
	display: flex;
	flex-direction: column;
}

.gameStats{
	display: flex;
	width: 672px;
	justify-content: center;
	align-items: center;
	gap: 200px;
}

.textMenu{
	color: rgb(125, 255, 208);
	font-size: 20px;
	font-family: "Poppins", sans-serif;
	letter-spacing: 5px;
}

#buttonRestart{
	height: 40px;
	padding: 0px 15px 0px 15px;
	background-color: rgb(56, 56, 56);
	border-radius: 100px;
	border: solid rgb(56, 56, 56);
}


#buttonRestart:hover{
	background-color: rgb(125, 255, 208);
	border: solid rgb(125, 255, 208);
	color: rgb(56, 56, 56);
}


footer{
	margin-top: 20px;
	display: flex;
	justify-content: center;
	gap: 100px;
	align-items: center;
}

.footerText{
	color: rgb(125, 255, 208);
	font-size: 20px;
	font-family: "Poppins", sans-serif;
	letter-spacing: 5px;
	text-decoration: none;
}

#github:hover{
	color: #b444ff;
}

