html {
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

header{
    padding: 30px 40px 0px 40px;
}



.burger-menu{
    width: 30px;
    height: 22px;
    display: flex;
    z-index: 51;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}
.burger-menu>span{
    height: 2px;
    width: 30px;
    background-color: #F1CDB3;
    display:block;
}


.open{
    display: flex !important;
}

.fix{
    overflow: hidden !important;
}



.burger-menu.active {
    flex-direction: row;
    width: 24px;
}

.burger-menu.active>span {
    width: 2px;
    height: 30px;
}






.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 60px;
    align-items: center;

}
nav>ul{
    display: flex;
    gap: 35px;
    padding: 0;
    list-style-type: none;
}

.logo_a{
    font-family: Arial;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    text-decoration: none;
}

.logo_a:hover{
    color: #FAFAFA;
}

.nav-head{
    font-family: Arial;
    font-size: 15px;
    line-height: 24px;
    color: #FAFAFA;
    border-bottom: 3px #F1CDB3 solid ;
}


.logo_title{
    font-family: Georgia;
    font-size: 32px;
    line-height: 35.2px;
    color: #F1CDB3;
    margin: 0;
}


.logo_subtitle{
    font-family: Arial;
    font-size: 13px;
    line-height: 14.95px;
    color: #FFFFFF;
    margin: 10px 0px 0px 4px;
}

.logo{
    margin: 0;
    display: flex;
    flex-direction: column;
}


h1{
    font-family: Georgia;
    font-size: 44px;
    line-height: 57.2px;
    color: #FFFFFF;
    font-weight: 400;
}

h2{
    font-family: Georgia;
    font-size: 35px;
    line-height: 45.5px;
    color: #545454;
    font-weight: 400;
}

header, section.start-screen{
    background: url(img/start-screen-background\ \(1\).png) no-repeat;
}

.start-screen_content{
    margin: 163px 0px 243px 0px;
}

.start-screen{
    max-width: 1200px;
    padding: 90px 40px 0 40px;
    display: flex;
    gap: 42px;

}

.start-screen_content>p{
    font-family: Arial;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
}

.start-screen_btn{
    width: 207px;
    height: 52px;
    border-radius: 100px;
    border: none;
    background-color: #F1CDB3;
    padding: 0;
    font-family: Georgia;
    font-size: 17px;
    line-height: 22.1px;
}

.start-screen_btn:hover{
    background-color: #FDDCC4;
}

.about-content_inner{
    display: flex;
    margin: 80px 40px 100px 40px;
    padding: 0px 175px 0px 175px;
    gap: 120px;
}

.about-content_inner>div>h2{
    margin: 0;
    margin-right: 60px;
}

.about-content_text{
    margin: 14px 0px 14px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.about-content_text>p{
    margin: 0;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C;
}

.pets{
    background-color: #F6F6F6;
}

.pets_content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;

}

.slider_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider{
    max-width: 990px;
    display: flex;
    gap: 90px;
    justify-content: center;
}

.slider-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-left{
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: solid 2px #F1CDB3;
    display: flex;
    background-image: url(img/Arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
}

.button-left:hover{
    background-color: #FDDCC4;
    border: none;
}

.button-right:hover{
    background-color: #FDDCC4;
    border: none;
}

.button-right{
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: solid 2px #F1CDB3;
    display: flex;
    background-image: url(img/Arrow\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
}

.pets{
    padding: 80px 40px 100px 40px;
}

.pets_content>h2{
    margin: 0;
}

.slider_content{
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}


.slider_content>button:hover{
    background-color: #FDDCC4;
    border: none;
}

.slider_content>span{
    margin: 0;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 22.72px;
    color: #545454;
}

.slider_content>button{
    margin: 0px 41.5px 30px 41.5px;
    height: 52px;
    border-radius: 100px;
    border-width: 2px;
    background-color: #FAFAFA;
    padding: 0;
    font-family: Georgia;
    font-size: 17px;
    line-height: 22.1px;
    font-weight: 400;
    color: #292929;
    border-color: #F1CDB3;
    border-style: solid;
}

.pets_btn{
    width: 261px;
    height: 52px;
    border-radius: 100px;
    border: none;
    background-color: #F1CDB3;
    font-family: Georgia;
    font-size: 17px;
    line-height: 22.1px;
    font-weight: 400;
    color: #292929;
}

.pets_btn:hover{
    background-color: #FDDCC4;
}

.help_content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help{
    padding: 80px 40px 100px 40px;
}

.help_content_list{
    display: flex;
    gap: 120px;
    flex-wrap: wrap;
    margin-top: 55px;
    justify-content: center;
    max-width: 1150px;
}

.help_content_list>div{
    font-size: 20px;
    line-height: 23px;
    font-family: Georgia;
    font-weight: 400;
    color: #545454;
}

.help_content>h2{
    margin: 0px 0px 5px 0px;
}

.help_content_list>div>p{
    margin: 30px 0px 0px 0px;
}

.donation{
    padding: 80px 131px 100px 131px;
    background-color: #F6F6F6;
}

.donation_content{
    display: flex;
    justify-content: center;
}

.donation_content>img{
    margin: 10px 30px 10px 0px;
}

.card{
    display: flex;
    padding: 10px 15px 10px 15px;
    margin: 0;
    gap: 15px;
    height: 23px;
    background-color: #F1CDB3;
    max-width: 291px;
    border-radius: 10px;
}

.card>img{
    width: 30px;
    height: 23px;
}

.card>p{
    margin: 0;
    display: flex;
    align-items: center;
    font-family: Georgia;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    color: #545454;
}

.name-bank{
    font-family: Georgia;
    font-size: 15px;
    line-height: 16.5px;
    font-weight: 400;
    color: #545454;
    margin: 0;
}

.donation_content_text>h2{
    margin: 0;
}

.donation_content_text_description{
    margin: 0;
    font-family: Arial;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #B2B2B2;
    font-style: italic;
}

.donation_content_text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer{
    padding: 40px 40px 0px 40px;
    background: url(img/footer-background.png) no-repeat;
}

.footer{
    display: flex;
    justify-content: space-between;
    gap: 65px;
}

.contact>h2{
    margin: 0;
    color: #FFFFFF;
}

.a-email-phone{
    display: flex;
    gap: 20px;
    height: 32p;
    text-decoration: none;
}

.a-email-phone>img{
    width: 40px;
    height: 32px;
}

.a-email-phone>span{
    margin: 0;
    display: flex;
    align-items: center;
    font-family: Georgia;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    color: #F1CDB3;

}



.contact{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 16px;
}

.address{
    display: flex;
    flex-direction: column;
    gap: 33px;
    margin-top: 16px;
}

.address1{
    display: flex;
    gap: 20px;
    height: 46px;
    align-items: center;
}

.address1>img{
    display: flex;
    height: 32px;
}

.address1>p{
    margin: 0;
    display: flex;
    align-items: center;
    font-family: Georgia;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    color: #F1CDB3;
}

.address2{
    display: flex;
    gap: 20px;
    height: 32px;
    align-items: center;
}


.address2>p{
    margin: 0;
    display: flex;
    align-items: center;
    font-family: Georgia;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    color: #F1CDB3;
}

.address>h2{
    margin: 0;
    color: #FFFFFF;
}

@media (max-width: 1200px){
   body{
    min-width: 768px;
   }
   main{
    min-width: 768px;
   }
   header{
    padding: 30px 30px 0px 30px;
    }
   .header_inner{
    min-width: 708px;
   }
   .start-screen{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 30px 30px 0px 30px;
   }
   .start-screen_content{
    margin: 0px 114px 0px 114px;
    display: flex;
    flex-direction: column;
    gap: 42px;
   }

   .start-screen_content>h1{
    margin: 0;
   }
   .start-screen_content>p{
    margin: 0;
   }
   .button-start-screen{
    text-align:center;
   }

   .start-screen_img>img{
    width: 569px;
    height: 593px;
   }
   .start-screen_img{
    text-align:right;
   }
   .about-content_inner{
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 139px 0px 139px;
    margin: 80px 30px 100px 30px;
    gap: 80px;
   }
   .about-content_text{
    margin: 0;
   }

   .about-content_inner>img{
    width: 300px;
    height: 408px;
   }
   .about-content_img{
    text-align:center;
   }
   .woody{
    display: none;
   }
   .slider{
    gap: 40px;
   }
   .help_content_list{
    gap: 60px;
    }
    .help_container{
        width: 170px;
    }
    .donation_content{
        flex-direction: column-reverse;
        gap: 60px;
        align-items: center;
    }
    .donation_content>img{
        width: 505px;
        margin: 0;
    }

    .donation_content_text{
        margin: 0px 63px 0px 63px;
    }

    .footer{
        flex-wrap: wrap;
        justify-content: space-around
    }
    header, section.start-screen{
        background: url(img/start-screen-background1.jpg) no-repeat;
        background-size: cover;
    }
    footer{
        background: url(img/footer-background1.png) no-repeat;
        background-size: cover;
    }

    @media (max-width: 768px){
        body{
            min-width: 320px;
        }
        main{
            min-width: 320px;
        }
        nav{
            display: none;
        }
        .header_inner{
            min-width: 280px;

        }
        header{
            padding: 30px 20px 0px 20px;
        }
        .start-screen{
            min-width: 300px;
            display: flex;
            flex-direction: column;
            gap: 105px;
            padding: 30px 10px 0px 10px;
        }
        section.start-screen{
            padding: 0;
        }
        h1{
            font-family: Georgia;
            font-size: 25px;
            line-height: 32.5px;
            color: #FFFFFF;
            font-weight: 400;
        }
        .start-screen_content>p{
            text-align: center;
        }
        .start-screen_content{
            margin: 0;
            align-items: center;
            max-width: 400px;
            align-self: center;
        }
        .start-screen_img>img{
            width: 260px;
            height: 271.77px;
        }
        .burger-menu{
            display: flex;
            align-items: center;
        }
        .nav{
            display: none;
            align-items: center;
            text-align: center;
            justify-content: center;
            position:fixed;
            height: 100%;
            width: 320px;
            top: 0;
            right: 0;
            z-index: 50;
            overflow-y: auto;
            background: rgba(41, 41, 41, 1);
        }

        .nav>ul{
            flex-direction: column;
        }

        .nav>ul>li{
            font-size: 32px;
            line-height: 51.2px;
        }

        .logo_a{
            font-family: Arial;
            font-size: 32px;
            line-height: 51.2px;
            color: #CDCDCD;
            text-decoration: none;
        }

        .about-content_inner{
            padding: 42px 10px 42px 10px;
            margin: 0;
        }
        .about-content_text{
            align-items: center;
        }
        .about-content_text>p{
            text-align: justify;
            max-width: 500px;
        }
        .about-content_inner>div>h2{
            margin: 0;
        }
        .about-content_inner>img{
            width: 260px;
            height: 353.6px;
        }
        .jennifer{
            display: none;
        }
        .slider-button{
            order: 1;
            align-items: center;
        }
        .slider_main{
            flex-wrap: wrap;
            max-width: 320px;
            justify-content: space-around;
        }
        .slider_main>button{
            order: 1;
        }
        .pets_content{
            align-items: center;
            gap: 42px;
        }
        .pets{
            padding: 42px 10px 42px 10px;
        }
        .help_container{
            width: 130px;
        }
        .help{
            padding: 42px 15px 42px 15px;
        }
        .help_content_list{
            gap: 30px;
            justify-content:space-around;
            max-width: 600px;

        }
        .donation{
            padding: 42px 10px 42px 10px;
        }
        .donation_content_text{
            margin: 0;
            align-items: center;
            max-width: 320px;
        }
        .donation_content>img{
            width: 260px;
            margin: 0;
        }
        .card>p{
            font-family: Georgia;
            font-size: 15px;
            line-height: 16.5px;
            font-weight: 400;
            color: #545454;
        }
        .donation_content_text_description{
            text-align: justify;
        }
        .footer>img{
            width: 260px;
        }


    }








}
